.App {
  text-align:left;
}

.App-logo {
  height: 80px;
  width: 80px;
  pointer-events: none;
  margin-left: 50px;
}

.App-logo-center{
  height: 200px;
  width: 200px;
  pointer-events: none;
  margin-left: 50px;
}

.App-logo-center-container{
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  text-align: center;
  width: 100%;
  background-color: #faf5e8;
  padding:5px 5px 5px;
  
}

.App-logo-center-container img{
  align-items: center;
}

.App-logo-center-container h2{
  text-align: center;
}

.App-logo-center-container p{
  color:silver;
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.topnav {
 
  height:20px;
  display: none;

}

.ajar-ajar-main-container{
  height: auto;
}

.ajar-ajar-detail-container{
  float: left;
  margin: 10px;
  width: 70%;
  background-color: yellowgreen;
}

.ajar-ajar-picture-container{
  float: right;
  margin: 10px;
  width: 30%;
  background-color: silver;
}

.topnavlogo {
  float: left;
  margin: 10px;
  
}

.topnavbutton {
  float: right;
  margin: 10px;
  margin-top: 30px;
  
}

.topnav a.active {
  
  margin: 30px;
  text-decoration: none;
}

.topnav a:hover {
  color:orange;

}

.banner {
  height:422px;
  background-size: contain;
}

.banner h2{
  text-align:center;
  color: white;
  font-size: 70px;
}

.banner p{
  text-align:center;
  color: white;
  font-size: 40px;
}

.outerDiv
{
  

  width: 100%;

}

.articleInfo{
  width: 100%;
}

.articleInfo h2{
  padding: 10px 10px 10px
}

.articleInfo p{
  padding: 10px 10px 10px
}

.articleImg {
  width: 100%;
  padding: 0px 
}

.leftDiv
{
 
  color: #000;
  height: 400px;
  width: 70%;
  float: left;
}

.leftDiv2
{
  
  color: #000;
}

.leftDiv2 h1{
  padding: 10px 10px 10px
}

.leftDiv2 p{
  padding: 10px 10px 10px
}

.leftDiv h2{
  text-align:center;
  
}

.leftDiv p{
  margin-left: 30px;
  height:50px;
}

.rightDiv2
{

  color: #000;

}

.rightDiv2 h1{
  padding: 10px 10px 10px;
}


.rightDiv
{

  color: #000;
  height: 400px;
  width: 30%;
  float: right;
}

.rightofDiv{
  text-align: right;

  margin-right: 40px;
}

.collapse{
  display: block;
  padding:0px 10px 0px;
}
.outcollapse{
  margin:auto;
}

.contactContainer{


  width:'100%';
}



.contactContainer div{
  padding-left:40px;
  padding-right:40px;
}

.spanText {
  color:#d9d6ce
}

.grid-container {
  display: grid;
  grid-gap: 10px;
  padding: 10px 10px 10px;

}

.grid-container div:hover{
  -moz-box-shadow:    inset 0 0 10px gray;
   -webkit-box-shadow: inset 0 0 10px gray;
   box-shadow:         inset 0 0 10px gray;
   transform: scale(1.1);
   color: orange;
   padding: 40px 40px 40px
} 

.grid-container h2:hover{
  color: orange;
  padding: 20px 20px 20px
}

.grid-container p{
  color: #72706b;

}

.grid-child-container{
  background-color: #faebcf;


}




.grid-child-container div{
  background-color: orange;
  color:white;
  width:auto;
  font-size: large;
}

.collapse{

  width: 90%;
}

.collapse h2{
  color: white;
  background-color: orange;
  padding-left: 20px;
}

.collapse div{
  background-color: white; 
  padding-left: 20px;
}

.footer{
  height: 100px;
  width: 100%;
  background-color: #948f82;
  margin:0px;
}

.footer div{
  margin-left: 30px;
  color:white;
}

.blankDiv {
  height:50px
}

.blankDiv2 {
  height:50px
}

.contactContainer{
  width: 100%;
}

.contactContainer h1{
  padding:10px 10px 10px
}

.blankDiv3{
  height:50px
}

@viewport{
  zoom:1.0;
  width:extend-to-zoom;
}

@-ms-viewport{
  zoom:1.0;
  width:extend-to-zoom;
}

/* @media only screen and (min-width:768px){

} */


@media only screen and (min-width:1000px){

  .topnav {
 
    height:5px;
    display: block;
    
  
  }

  .articleImg
  {
    width: 30%;
    float: right;
    padding: 60px 0px 0px

  }

  .articleInfo
  {
    width: 70%;
    float: left;
    
  }

  .leftDiv2{
    width: 50%;
    float: left;
  }

  .rightDiv2{
    width: 50%;
    float: right;
  }

  

  .grid-container {
    grid-template-columns: 33.3% 33.3% 33.3% ;
    padding: 20px 20px 20px;
  }

  .blankDiv2 {
    height:400px
  }

  .blankDiv3{
    height:550px
  }

  .contactContainer h1{
    padding:20px 20px 0px
  }
  
}